* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #ceebe6, #b2d2cc, #97bab3, #7da29a, #638b82);
}

.fog { 
    background-image : url('assets/pictures/fog2.png');
    background-size: cover;
    position: absolute;
      background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    width: 100%;
    height:120%;
    pointer-events: none;
    z-index: 10;
bottom: 0px;

}

 .white { 
    position: absolute;
    width: 100%;
    height:25%;
    pointer-events: none;
    z-index: -1;
bottom: 0px;
 background-image: linear-gradient(to top, #ffffff, #ffffff, #00000000);

}

@keyframes dissolveIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.guide {
    position: absolute;
    width: 90%;
    height:90%;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 52%;
    top: 55%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    animation: dissolveIn 1.5s ease-in;
    filter: blur(0.5px);
    z-index: 5;
}


@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
}

h1,h2, h3{ 
    text-align: center;
font-family: "legitima", serif;
font-weight: 500;
font-style: italic;
    animation: float 6.5s ease-in-out infinite;
}

h1 {
    animation-delay: 0s;
}

h2 {
    animation-delay: 0.3s;
}

h3 {
    animation-delay: 0.6s;
}

.title2 { 
    color: rgb(35, 44, 38);
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    z-index: 15;
    pointer-events: auto;
    cursor: pointer;
    font-size: 0.8em;
}

.info, .info h3 {
      color: rgba(35, 44, 38, 0.575); 
    position: relative;
top: 14%;
    width: 100%;
    text-align: center;
    z-index: 15;
    pointer-events: auto;
    cursor: pointer;
    font-size: 1.1em;
}

.button, button h3 {
        color: rgba(35, 44, 38, 0.8); 
        position: relative;
    top: 85%;
    width: 100%;
    text-align: center;
    z-index: 15;
    pointer-events: auto;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 200ms ease, color 200ms ease;

}

.button a {
    text-decoration: none;
    color: rgba(35, 44, 38, 0.8);
    transition: color 200ms ease, text-shadow 200ms ease, opacity 200ms ease;
    display: inline-block;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    opacity: 0.8;
}

.button a:hover {
    color: rgba(35, 44, 38, 1);
    opacity: 1;
    text-shadow: 0 0 8px rgba(255,255,255,0.7),
                 0 0 16px rgb(190, 212, 221),
                 0 0 24px rgb(141, 199, 199);
}
.button a h3 {
    color: inherit;
    text-decoration: inherit;
    display: inline;
}